@mixin ipad($height) {
    @media screen and(min-width: 768px) {
        height: $height;
        @content; //代指@include里的代码
    }
}

.header {
    width: 1000px;
    @include ipad(100px) {
        width: 500px;
    }
}

.footer {
    color: blue;
    @include ipad(200px) {
        color: red;
    }
}